Enable desktop notifications for Gmail.
   OK  No thanks
Meet
New meeting
Join a meeting
Hangouts

Conversations
0.42 GB (2%) of 15 GB used
Manage
Terms · Privacy · Program Policies
Last account activity: 2 days ago
Details

.menu{
    display: flex;
    justify-content: space-between;
    background-color:#000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    
}


.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: sans-serif;
    
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family: fantasy;
    
}